@using EntityLayer.Concrete
@model List<Announcement>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{
  string color = "";
  string status = "";
}

<div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Basic Table</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th>Details</th>
              </tr>
              </thead>
              <tbody>
              @foreach (var item in Model)
              {
                if (item.Status == true)
                {
                  color = "badge badge-success";
                  status = "Active";
                }
                else
                {
                  color = "badge badge-danger";
                  status = "Passive";
                }
              <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                <td><label class="@color">@status</label></td>
                <td><a href="/Writer/Home/AnnouncementDetails" class="btn btn-outline-primary">Details</a></td>
              </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

